%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, pat(:list)), url(:aparatos, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:aparatos, :new)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header.list-menu
          .dropdown
            %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
              =tag_icon :magic
              %span.caret
            %ul.list-menu.dropdown-menu{:role => :menu}
              %li.list-menu-wrapper=link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:'check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              %li.list-menu-divider.divider
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                .list-menu-popover-delete-selected.popover.right
                  .arrow
                  %h3.popover-title=pat(:delete_selected_title)
                  .popover-content
                    -form_tag url(:aparatos, :destroy_many), :method => :delete do
                      =hidden_field_tag :aparato_ids, :'data-delete-many-ids' => true
                      =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      .btn.btn-small.cancel=pat(:cancel)
        %th.header= mat(:aparato, :id)
        %th.header= mat(:aparato, :nombre)
        %th.header= mat(:aparato, :observaciones)
        %th.header= mat(:aparato, :grd)
        %th.header= mat(:aparato, :created_at)
        %th.header= mat(:aparato, :updated_at)
        %th.header= mat(:aparato, :escala)
        %th.header= mat(:aparato, :cero)
        %th.header.list-row-action-header

    %tbody
      -@aparatos.each do |aparato|
        %tr.list-row
          %td.list-column.list-selectable
            =check_box_tag 'aparato_ids[]', :value => aparato.id, :class => 'list-selectable-checkbox'
          %td.list-column=aparato.id
          %td.list-column=aparato.nombre
          %td.list-column=aparato.observaciones
          %td.list-column=aparato.grd
          %td.list-column=time_ago_in_words aparato.created_at
          %td.list-column=time_ago_in_words aparato.updated_at
          %td.list-column=aparato.escala
          %td.list-column=aparato.cero
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:aparatos, :edit, :id => aparato.id), :rel => :tooltip, :title => "#{pat(:edit)} aparato", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} aparato", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              .popover.list-row-action-popover-delete-one.left
                .arrow
                %h3.popover-title=pat(:delete, :model => "aparato")
                .popover-content
                  -form_tag url(:aparatos, :destroy, :id => aparato.id), :method => :delete do
                    =submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    .btn.btn-small.cancel=pat(:cancel)
